@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 300;
    src: local("Ubuntu Light"), local("Ubuntu-Light"), url(/assets/ubuntu-v11-cyrillic_latin-300-84103f7087677705f980db08464f75513674ba51a74cc756d6bdc0e684e48985.woff2) format("woff2"), url(/assets/ubuntu-v11-cyrillic_latin-300-87b5293e57709f48bab7e6b10386c6d93dbfa4ea30edda0ef9b58d248b7abc3f.woff) format("woff")
}

@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 300;
    src: local("Ubuntu Light Italic"), local("Ubuntu-LightItalic"), url(/assets/ubuntu-v11-cyrillic_latin-300italic-cf1f66fb0bf966a4aad1d6ce0083deaad344bc4100cf7ce280e096b500b019dd.woff2) format("woff2"), url(/assets/ubuntu-v11-cyrillic_latin-300italic-a3a05c81f4e01c3ed93d1b537f2d353f7a14e2384a1f1229865289477b25ed7f.woff) format("woff")
}

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 400;
    src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url(/assets/ubuntu-v11-cyrillic_latin-regular-cbdcffb22a794e52d16756260fea4abb58fb400f4be251df3b04ac27e68f0b57.woff2) format("woff2"), url(/assets/ubuntu-v11-cyrillic_latin-regular-e639107130dae55d4d8cf3e3f8205e763df223e28b5f1fe6a831290f60be14c3.woff) format("woff")
}

@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 400;
    src: local("Ubuntu Italic"), local("Ubuntu-Italic"), url(/assets/ubuntu-v11-cyrillic_latin-italic-1f56e4b4e967163d3a264e3acef316d960d32dd67de2005026f092ec926fdcea.woff2) format("woff2"), url(/assets/ubuntu-v11-cyrillic_latin-italic-ff6154e1f8f8e418ddd0c57eeab6fe4ed308e602b462a7ea032ac9740d03a070.woff) format("woff")
}

@font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 700;
    src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url(/assets/ubuntu-v11-cyrillic_latin-700-1c03c08e28df96f35f96a0059391541acd603487f114ee2c345237db1805cbdd.woff2) format("woff2"), url(/assets/ubuntu-v11-cyrillic_latin-700-9bab8ccdc95eae31a6491e30d5b1b526278b3aa7620db30796f2ef11665b66f1.woff) format("woff")
}

@font-face {
    font-family: "Ubuntu";
    font-style: italic;
    font-weight: 700;
    src: local("Ubuntu Bold Italic"), local("Ubuntu-BoldItalic"), url(/assets/ubuntu-v11-cyrillic_latin-700italic-08baa0ec148d1d767083953151f3dbb6ee7ec62e0129c99d0f9673bc8259f2fb.woff2) format("woff2"), url(/assets/ubuntu-v11-cyrillic_latin-700italic-41423569569355764411b82d0b5351439d4d08ae5cb9ed8f0cf8f315a2227d3d.woff) format("woff")
}