@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);

.doposle {
    width: 380px;
    height: 400px;
    margin: 85px auto;
}

.doposle img {
    height: 400px;
    width: 600px;
}



.logo {
    font-family: 'Great Vibes', cursive;
    font-size: 130px;
    margin: 36px 0;
    text-align: center
}
.logo a{
    text-decoration: none;
    color: black;
    
}

/* .logo img.lazyload,
.logo img.lazyloading {
    opacity: 0
}

.logo img.lazyloaded {
    transition: opacity 0.3s;
    opacity: 1
}

.logo .logo-link {
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.logo .logo-with-placeholder {
    display: inline-block;
    position: relative;
    max-width: 100%
}

.logo .logo-placeholder {
    z-index: 0;
    width: 100%
}

.logo .logo-image {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.logo.-default {
    text-align: center
} */


/* *,*::after,*::before {
    box-sizing: border-box
} */


body {
    width: 100%;
    min-width: 768px;
    height: 100%;
    background: #FFF0FB;
    color: #353535;
    margin: 0;
    padding: 0
}


.button {
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
    padding: 15px 30px;
    overflow: hidden;
    border: 0;
    border-radius: 100px;
    outline: none;
    background: #353535;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer
}

.button::after {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background 0.3s;
    background: transparent
}

.button:hover {
    color: #fff;
    text-decoration: none
}

.button:hover::after {
    background: rgba(255, 255, 255, 0.15)
}

.button[disabled] {
    opacity: 0.5;
    cursor: not-allowed
}


.menu {
    min-width: 768px;
    transition: background 0.15s;
    font-size: 14px;

}

.menu.-fixed {
    position: fixed;
    z-index: 300;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding-top: 16px;
    background: rgba(255, 255, 255, 0.95)
}

.menu-list {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;

    text-align: center;
    list-style: none;
}

.menu-list .menu-item>.link {
    transition: color 0.3s;
    outline: 0;
    color: rgba(53, 53, 53, 0.75);
    font-weight: inherit;
    letter-spacing: .1em;
    text-decoration: none
}

.menu-list .menu-item>.link:hover {
    color: black;
}

.menu-list .menu-item.-active>.link,
.menu-list .menu-item.-active-parent>.link {
    color: #353535
}

.menu-list>.menu-item {
    position: relative;
    margin-bottom: 16px;
    padding: 0 23px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase
}

.menu-list>.menu-item::after {
    position: absolute;
    color: rgba(53, 53, 53, 0.25);
    font-family: Arial, sans-serif;
    content: "|";
    right: -2px
}

.menu-list>.menu-item.-undotted::after,
.menu-list>.menu-item:last-child::after {
    content: none
}

.menu-list>.menu-item.-parent {
    cursor: pointer
}

.menu-list>.menu-item.-parent:hover>.submenu-list {
    visibility: visible;
    transition: opacity 0.3s, visibility 0.3s;
    opacity: 1
}

.menu-list>.menu-item.-parent>.link::after {
    content: " â–¾";
    color: rgba(53, 53, 53, 0.25);
    font-weight: inherit
}

.menu-list .submenu-list {
    visibility: hidden;
    position: absolute;
    z-index: 400;
    top: 100%;
    left: 0;
    min-width: 100%;
    margin: 0 calc((46px / 2) - 16px);
    padding-top: 8px;
    transition: opacity 0.3s, visibility 0s 0.3s;
    opacity: 0;
    text-align: left
}

.menu-list .submenu-list>.menu-item {
    padding: 8px 16px;
    background: rgba(255, 255, 255, 0.95);
    white-space: nowrap
}

.menu-list .submenu-list>.menu-item:first-child {
    padding-top: 16px
}

.menu-list .submenu-list>.menu-item:last-child {
    padding-bottom: 16px
}



main {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
    
}

.portfolio {
    text-align: center;
    padding: 15px;
    font-size: 25px;
}

#buduar {
    display: grid;
    margin-top: 90px;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-right: 15px;
    padding-left: 15px;
}

#individual {
    margin-top: 130px;
    display: grid;
    grid-column-gap: 3px;
    padding-right: 15px;
    padding-left: 15px;
    row-gap: 20px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto ;
}


#kids{
    /* padding: 0 35px 0 5px ; */
    margin-top: 130px;
    column-gap: 5px;
    row-gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding-left: 15px;
}

#love{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    margin-top: 130px;
    padding-right: 15px;
    grid-column-gap: 10px;
    padding-left: 15px;
}

#individual a{
    padding: 9px;
}


/* галлерея. главная страница*/

.gallery{
    width: 65%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    
    grid-gap: 5px;
    letter-spacing: .1em;
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-size: 15px;
}

.gallery a{
    text-decoration: none;
    color: black;
    
}

.buduar  {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    
}

.lovestory {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  
}

.individual {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}

.kids {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

}

.buduar img{
    width: 95%
}

.lovestory img{
    width: 95%;
}
.kids img{
    width: 90%;
    height: 50%
}

.individual img{
    width: 90%;
}


footer{
    width: 100%;
    /* margin-top: 150px; */
    margin: 0 auto;
    height: 165px;
    background: linear-gradient(to bottom, #FFF0FB, #bda0c5);
    font-family: 'Oswald', sans-serif;
    opacity: 1;
    font-size: 17px;
   
}

.mapofpage{
    width: 100%;
    height: 100%;
    font-size: 17px;
    text-align: center;
}

.mapofpage li{
    list-style: none;
}

.mapofpage a{
    text-decoration: none;
    color: black;
}

.foot{
    width: 60%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 33%);
    display: grid;
}

.aboutus{
    text-align: center;
}

.contact{
    text-align: right;
    /* padding-left: 20px; */
}

.location{
    text-align: right;
    padding-right: 20px;
}



.feedback{
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-row-gap: 2em;
    width: 60%;
    margin: 0 auto;
}

.feeditem img{
   border-radius: 70%;
   float: left;
   width: 11vmin;
   height: 11vmin;
   padding: 15px;
  
}

.feeditem{
    letter-spacing: .05em;
    line-height: 1em;
    font-size: 1.3vw;
    padding: 0 5vw;
    font-style: italic;
}

@media (min-width:300px) and (max-width: 800px) {
    .feedback{
        width: calc(100% - 25px);
    }
    .feeditem img{
        width: 20vmax;
        height: 20vmax;
    }
    .feeditem{
        font-size: 2.5vmax;
    }
    .menu-item{
        font-size: 2.5vmax;
    }

}


/* price css */

.snip1404 {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  width: 100%;
  max-width: 1000px;
  height: 400px;
  margin: 110px auto;
}
.snip1404 img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}
.snip1404 .plan {
  margin: 0;
  width: 25%;
  position: relative;
  float: left;
  overflow: hidden;
  border: 3px solid #442232;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #5f3047;
}
.snip1404 .plan:hover i,
.snip1404 .plan.hover i {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.snip1404 .plan:first-of-type {
  border-radius: 8px 0 0 8px;
}
.snip1404 .plan:last-of-type {
  border-radius: 0 8px 8px 0;
}
.snip1404 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.snip1404 header-price {
  background-color: #5f3047;
  color: #ffffff;
}
.snip1404 .plan-title {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0;
  padding: 20px 20px 0;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.snip1404 .plan-title:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 300px 0 0;
  border-color: rgba(0, 0, 0, 0.5) transparent transparent;
}
.snip1404 .plan-cost {
  padding: 40px 20px 10px;
  text-align: right;
}
.snip1404 .plan-price {
  font-weight: 600;
  font-size: 3em;
}
.snip1404 .plan-type {
  opacity: 0.8;
  font-size: 0.7em;
  text-transform: uppercase;
}
.snip1404 .plan-features {
  padding: 0 0 20px;
  margin: 0;
  list-style: outside none none;
}
.snip1404 .plan-features li {
  padding: 8px 5%;
}
.snip1404 .plan-features i {
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.5);
}
.snip1404 .plan-select {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}
.snip1404 .plan-select a {
  background-color: #442232;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 0.75em;
  font-weight: 600;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
}
.snip1404 .plan-select a:hover {
  background-color: #552a3f;
}
.snip1404 .featured {
  margin-top: -10px;
  border-color: #331926;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 8px;
}
.snip1404 .featured .plan-select {
  padding: 30px 20px;
}
@media only screen and (max-width: 767px) {
  .snip1404 .plan {
    width: 50%;
  }
  .snip1404 .plan-title,
  .snip1404 .plan-select a {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .snip1404 .plan-select,
  .snip1404 .featured .plan-select {
    padding: 20px;
  }
  .snip1404 .featured {
    margin-top: 0;
  }
}
@media only screen and (max-width: 440px) {
  .snip1404 .plan {
    width: 100%;
  }
} 
/* price css */


/*contacts*/

.contacts{
    width: 50%;
    height: 600px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 0;
    grid-template-rows: 55% 45%;
    grid-template-areas: 
    'con img'
    'map map';
}

.contacts img{
    grid-area: img;
    width: auto;
    height: 79%;
    border-radius: 17%;
}



#map{
    grid-area: map;
    margin-left: 20px;
    height: 100%;
    width: 100%;
    margin: 10px auto;
}

.contacts-data{
   grid-area: con;
   text-align: right;
   width: 97%;
   letter-spacing: .05em;
   line-height: 1em;
   font-size: 16px;
   font-style: oblique;
   padding-left: 0px;
}

.contacts-data a{
     color: black;
}

/*contacts*/

/*discounts*/

.discount{
    width: 60vw;
    height: 35vh;
    font-size: 2vw;
    letter-spacing: .09em;
    line-height: 2em;
    border: .5px solid #353535;
    margin: 100px auto 211px auto;
    font-style: initial
}

.discount p {
    text-align: left;
    color: black;
}

.discount img{
    float: left;
    margin: 20px;
    width: 12vmax;
}

.article{
    margin: 0 auto;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
    width: 10%;
    height: 65px;
}


header{
    height: 350px;
}

@media (min-width:320px) and (max-width: 800px){
    .discount{
      font-size: 3vmax;
      width: 100%;
      height: 100%;
    }
    .logo{
        font-size: 95px;
        margin: 0 auto;
    }
    main{
        height: 100%;
        margin: 0;
    }
    body{
        min-width: 300px;
        width: 100%;
    }
    .gallery{
        height: 100%;
        width: 100%;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .gallery img{
        width: 100%;
    }
    .snip1404{
        margin: 0 auto;
        font-size: 4vw;
        height: 1250px;
    }
    header{
        height: 450px;
        
    }
    .menu{
        min-width: 60%;
    }
    .article{
        font-size: 2.5vmax;
        width: 100%;
    }
    footer{
        font-size: 13px;
        margin-top: 50px;
        height: 100%;
    }
    .foot{
        width: calc(100% - 20px) ;
        grid-template-columns: 30% 30% 40%;
    }
    .mapofpage ul{
        padding-inline-start: 0;
    }
    .contacts{
       margin: 0 auto;
       width: 100%;
       height: 800px;
       
    }
    .contacts img{
        width: 100%;
        height: auto;
    }
    #kids{
       display: flex;
       flex-direction: column;
       margin:0 auto;   
    }
    #kids img{
        width: 100%;
    }
    #love{
        display: flex;
        flex-direction: column;
        margin:0 auto;   
     }
     #love img{
         width: 100%;
     }
     #buduar{
        display: flex;
        flex-direction: column;
        margin:0 auto;   
     }
     #buduar img{
         width: 100%;
     }
     #individual{
        display: flex;
        flex-direction: column;
        margin:0 auto;   
     }
     #individual img{
         width: 100%;
     }
     
    
}
