.doposle {
    width: 380px;
    height: 400px;
    margin: 0 auto;
}

.doposle img {
    height: 400px;
    width: 600px;
}



.logo {
    font-family: 'Great Vibes', cursive;
    font-size: 130px;
}

.logo img.lazyload,
.logo img.lazyloading {
    opacity: 0
}

.logo img.lazyloaded {
    transition: opacity 0.3s;
    opacity: 1
}

.logo .logo-link {
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.logo .logo-with-placeholder {
    display: inline-block;
    position: relative;
    max-width: 100%
}

.logo .logo-placeholder {
    z-index: 0;
    width: 100%
}

.logo .logo-image {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.logo.-default {
    text-align: center
}


/* *,*::after,*::before {
    box-sizing: border-box
} */

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    min-width: 768px;
    height: 100%;
    background: #FFF0FB;
    color: #353535;
    font-size: 15px;

}


img,
object,
embed {
    max-width: 100%
}

img {
    height: auto
}

.button {
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    margin: 0;
    padding: 15px 30px;
    overflow: hidden;
    border: 0;
    border-radius: 100px;
    outline: none;
    background: #353535;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer
}

.button::after {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background 0.3s;
    background: transparent
}

.button:hover {
    color: #fff;
    text-decoration: none
}

.button:hover::after {
    background: rgba(255, 255, 255, 0.15)
}

.button[disabled] {
    opacity: 0.5;
    cursor: not-allowed
}

body {
    overflow-y: scroll
}

.logo {
    margin: 36px 0;
    text-align: center
}



.menu {
    min-width: 768px;
    transition: background 0.15s
}

.menu.-fixed {
    position: fixed;
    z-index: 300;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding-top: 16px;
    background: rgba(255, 255, 255, 0.95)
}

.menu-list {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
    text-align: center;
    list-style: none;
}

.menu-list .menu-item>.link {
    transition: color 0.3s;
    outline: 0;
    color: rgba(53, 53, 53, 0.75);
    font-weight: inherit;
    letter-spacing: .1em;
    text-decoration: none
}

.menu-list .menu-item>.link:hover {
    color: #353535
}

.menu-list .menu-item.-active>.link,
.menu-list .menu-item.-active-parent>.link {
    color: #353535
}

.menu-list>.menu-item {
    position: relative;
    margin-bottom: 16px;
    padding: 0 23px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase
}

.menu-list>.menu-item::after {
    position: absolute;
    color: rgba(53, 53, 53, 0.25);
    font-family: Arial, sans-serif;
    content: "|";
    right: -2px
}

.menu-list>.menu-item.-undotted::after,
.menu-list>.menu-item:last-child::after {
    content: none
}

.menu-list>.menu-item.-parent {
    cursor: pointer
}

.menu-list>.menu-item.-parent:hover>.submenu-list {
    visibility: visible;
    transition: opacity 0.3s, visibility 0.3s;
    opacity: 1
}

.menu-list>.menu-item.-parent>.link::after {
    content: " â–¾";
    color: rgba(53, 53, 53, 0.25);
    font-weight: inherit
}

.menu-list .submenu-list {
    visibility: hidden;
    position: absolute;
    z-index: 400;
    top: 100%;
    left: 0;
    min-width: 100%;
    margin: 0 calc((46px / 2) - 16px);
    padding-top: 8px;
    transition: opacity 0.3s, visibility 0s 0.3s;
    opacity: 0;
    text-align: left
}

.menu-list .submenu-list>.menu-item {
    padding: 8px 16px;
    background: rgba(255, 255, 255, 0.95);
    white-space: nowrap
}

.menu-list .submenu-list>.menu-item:first-child {
    padding-top: 16px
}

.menu-list .submenu-list>.menu-item:last-child {
    padding-bottom: 16px
}



main {
    width: 100%;
    height: 2500px;
}

.portfolio {
    text-align: center;
    padding: 15px;
    font-size: 25px;
}

#buduar {
    display: grid;
    margin-top: 90px;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-right: 35px;
}

#individual {
    margin-top: 130px;
    display: grid;
    grid-column-gap: 3px;
    padding-right: 35px;
    row-gap: 20px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto ;
}


#kids{
    padding: 0 35px 0 5px ;
    margin-top: 130px;
    column-gap: 5px;
    row-gap: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}

#love{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    margin-top: 130px;
    padding-right: 35px;
    grid-column-gap: 10px;
}